html, body {
  background-color: white;
  padding: 0;
  margin: 0;
 }

.page {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
  background-image: url(https://www.warehousetotaal.nl/wp-content/uploads/2018/03/Machine-learning2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 10vw;
  margin-top: -10vw; 
  position: fixed;
  z-index: 2;
}

.top-nav-1 {
  float: left;
  width: 20vw;
  height: 10vw;
  background-color: grey;
}
  .logo {
    width: 20vw;
    height: 10vw;
}
  
.top-nav-2 ul {
  font-size: 2vw;
}

  .top-nav-2 a {
    margin: 0vw 0vw 2.5vw 2vw;
    height: 5vw;
    float: left;
    display: block;
    border-radius: 5px;
    background-color: lightblue;
    color: black;
    font-size: 3vw;
    text-align: justify;
    text-decoration: none;
    padding: 1vw 2vw 0vw 2vw;
    position:relative;
  }

.page-content {
  background-color: darkturquoise;
  width: 100vw;
  min-height: 100vh;
  margin-top: 10vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  height: 100%;
}

.article-home {
  background-color:aquamarine;
  margin-left: 5vw;
  padding-top: 1vw;
  width: 90vw;
  padding-bottom: 2vw;
  border-radius: 5px;
}

h1 {
  color: black;
  border-bottom: 2px solid;
  padding: 0vw 2vw 2vw 2vw;
}

h2 {
  background-color:lightskyblue;
  padding: 2vw;
}

p {
  padding: 0vw 2vw;
}
.nav-footer {
  background-color: lightseagreen;
  width: 100%;
  height: 10vw;
  position:relative;
}

  .notice {
    height: 5vw;
    width: 20vw;
    margin-top: 2vw;
    margin-left: 39.5vw;
    border: 0.5vw solid black;
    border-radius: 5px;
}

ol {
  list-style-type: upper-roman;
  overflow: auto;
  margin-right: 2vw;
}

ol ul {
  list-style-type: square;
}
