html, body {
  background-color: white;
  padding: 0;
  margin: 0;
 }

.page {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
  background-image: url(/images/Machine-learning2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 10vw;
  margin-top: -10vw; 
  position: fixed;
  z-index: 2;
}

.top-nav-1 {
  float: left;
  width: 20vw;
  height: 10vw;
  background-color: grey;
}

.logo {
  width: 20vw;
  height: 10vw;
}
  
.top-nav-2 a {
  margin: 0vw 0vw 2.5vw 2vw;
  height: 5vw;
  float: left;
  display: block;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  font-size: 3vw;
  text-align: justify;
  text-decoration: none;
  padding: 1vw 2vw 0vw 2vw;
  position:relative;
}

.page-content {
  background-color: darkturquoise;
  width: 100vw;
  min-height: 100vh;
  margin-top: 10vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  height: 100%;
}

.article-home {
  background-color:#C03F8E;
  margin-left: 5vw;
  padding-top: 2vw;
  width: 90vw;
  padding-bottom: 2vw;
  border-radius: 5px;
}

h1 {
  color: black;
  border-bottom: 2px solid;
  padding: 2vw 2vw 1vw 2vw;
  margin: 0;
}

h2 {
  background-color:rgb(107, 9, 172);
  padding: 2vw;
  margin:0;
}

form {
  padding: 1vw 2vw 1vw 2vw;
}

fieldset {
  padding: 2vw 1vw;
  border: solid #777;
  border-radius: 5px;
  margin-top: 2vw;
}

input {
  width: 50%;
  padding: 1vw 1vw;
  margin: 1vw 0vw 2vw 0vw;
  border: solid #999;
  border-radius: 5px;
  background-color: #ddd;
  box-sizing: border-box;
}

select {
  padding: 0.5vw 1vw;
  margin: 1vw 0vw 2vw 0vw;
  border: solid #999;
  border-radius: 5px;
  background-color: #ddd;
}

textarea {
  padding: 1vw 1vw;
  margin: 1vw 0vw 2vw 0vw;
  width: 50%;
  height: 25vh;
  border: solid #999;
  border-radius: 5px;
  background-color: #ddd;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  padding: 1vw 0vw;
  border: solid #888;
  border-radius: 5px;
  background-color: #aaa;
}

.nav-footer {
  background-color: darkcyan;
  width: 100%;
  height: 10vw;
  position:relative;
}

.notice {
  height: 5vw;
  width: 20vw;
  margin-top: 2vw;
  margin-left: 39.5vw;
  border: 0.5vw solid black;
  border-radius: 5px;
}

@media (max-width: 500px) {
  
.nav-header {
  height: 20vw;
  margin-top: -20vw; 
}

.top-nav-1 {
  height: 20vw;
}

.logo {
  width: 20vw;
  height: 10vw;
  margin: 5vw 0vw 5vw 0vw;
}

.top-nav-2 a {
  margin: 3vw 0vw 5vw 2vw;
  height: 7.5vw;
  font-size: 5vw;
  padding: 2.25vw 2vw 0vw 2vw;
}

.page-content {
  margin-top: 20vw;
}

.article-home {
  margin-left: 5vw;
  margin-top: 2vw;
  width: 90vw;
}

.nav-footer {
  height: 20vw;
}

.notice {
  height: 8vw;
  width: 32vw;
  margin: 5.5vw 0vw 0vw 33.5vw;
}
}