html, body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
 }

.nav-header {
  background-image: url(/images/Machine-learning2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 10vw;
  margin-top: -10vw; 
  position: fixed;
  z-index: 2;
}

.top-nav-1 {
  float: left;
  width: 20vw;
  height: 10vw;
  background-color: grey;
}

.logo {
  width: 20vw;
  height: 10vw;
}

.top-nav-2 ul {
  font-size: 2vw;
}

.top-nav-2 a {
  margin: 0vw 0vw 0vw 2vw;
  height: 5vw;
  float: left;
  display: block;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  font-size: 3vw;
  text-align: justify;
  text-decoration: none;
  padding: 1vw 2vw 0vw 2vw;
}

.page-content {
  background-color: darkturquoise;
  width: 100vw;
  min-height: 100vh;
  margin-top: 10vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  height: 100%;
}

.page-nav {
  display: block;
  border-radius: 5px;
  background-color: darkcyan;
  float: left;
  position: absolute;
  width: 16vw;
  margin-left: 2vw;
}

.page-nav ul {
  list-style-type: none;
  font-size: 2vw;
  padding-left: 1.5vw;
}

.page-nav ul li {
  line-height: 200%;
}

.page-nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.article-home {
  background-color:#C03F8E;
  margin-left: 20vw;
  padding-top: 2vw;
  width: 75vw;
  padding-bottom: 2vw;
  border-radius: 5px;
}

h1 {
  color: black;
  border-bottom: 2px solid;
  padding: 2vw 2vw 1vw 2vw;
  margin: 0;
}

h2 {
  background-color:rgb(107, 9, 172);
  padding: 2vw;
  margin:0;
}

p{
  padding: 0vw 2vw;
}

iframe {
  width: 71vw;
  height: 35.5vw;
}

.nav-footer {
  background-color: darkcyan;
  width: 100%;
  height: 10vw;
  position:relative;
}

.notice {
  height: 5vw;
  width: 20vw;
  margin-top: 2vw;
  margin-left: 39.5vw;
  border: 0.5vw solid black;
  border-radius: 5px;
}

@media (max-width: 500px) {
  
.nav-header {
  height: 20vw;
  margin-top: -20vw; 
}

.top-nav-1 {
  height: 20vw;
}
.logo {
  width: 20vw;
  height: 10vw;
  margin: 5vw 0vw 5vw 0vw;
}

.top-nav-2 a {
  margin: 3vw 0vw 5vw 2vw;
  height: 7.5vw;
  font-size: 5vw;
  padding: 2.25vw 2vw 0vw 2vw;
}

.page-content {
  margin-top: 20vw;
}

.page-nav {
  width: 90vw;
  Height: 30vw;
  margin-left: 5vw;
}

.page-nav ul {
  padding: 2vw 0vw 0vw 2vw;
}

.page-nav ul li a {
  font-size: 5vw;
  display: block;
  height: 6vw;
}

.article-home {
  margin-left: 5vw;
  margin-top: 33vw;
  width: 90vw;
}

iframe {
  width: 84vw;
  height: 42vw;
}

.nav-footer {
  height: 20vw;
}

.notice {
  height: 8vw;
  width: 32vw;
  margin: 5.5vw 0vw 0vw 33.5vw;
}
}